* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Segoe UI', sans-serif; }


.main-header { display: flex; justify-content: space-between; align-items: center; padding: 15px 50px; background: white; box-shadow: 0 2px 10px rgba(0,0,0,0.05); }
.logo-area { display: flex; align-items: center; gap: 5px; font-weight: bold; color: #13151f; font-size: 1.2rem; }
.gear-icon { color: #f97316; font-size: 24px; }
.navbar { display: flex; gap: 20px; }
.navbar a { text-decoration: none; color: #555; font-weight: 600; transition: 0.3s; }
.navbar a:hover, .navbar a.ativo { color: #f97316; }


.section-sobre { padding: 80px 20px; background: white; min-height: 85vh; display: flex; align-items: center; }
.container { max-width: 1100px; margin: 0 auto; }

.grid-sobre { display: grid; grid-template-columns: 1fr 1fr; gap: 60px; align-items: center; }

.sobre-img img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.15);
  transition: transform 0.3s;
}
.sobre-img img:hover { transform: scale(1.02); }

.sobre-texto { text-align: left; }
.titulo-secao { font-size: 2.5rem; color: #13151f; margin-bottom: 20px; }
.destaque { color: #f97316; }

.sobre-texto p { color: #555; line-height: 1.7; margin-bottom: 15px; font-size: 1.05rem; }

.lista-check { list-style: none; margin-top: 30px; padding: 0; }
.lista-check li { 
  margin-bottom: 12px; 
  font-weight: 600; 
  color: #13151f;
  font-size: 1.1rem;
}


.main-footer { background: #13151f; color: #aab0c4; padding: 20px; text-align: center; }


@media (max-width: 768px) {
  .grid-sobre { grid-template-columns: 1fr; }
  .main-header { padding: 15px 20px; flex-direction: column; gap: 15px; }
}