.section-padrao {
  padding: 80px 20px;
  text-align: center;
  background-color: white;
}

.titulo-secao {
  font-size: 2.5rem;
  color: #13151f;
  margin-bottom: 10px;
  font-weight: 700;
}

.subtitulo {
  color: #666;
  font-size: 1.1rem;
  margin-bottom: 50px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.destaque {
  color: #f97316; 
}


.grid-servicos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}


.card {
  background: #fff;
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08); 
  transition: all 0.3s ease;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card:hover {
  transform: translateY(-10px);
  border-bottom: 5px solid #f97316; 
  box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

.icon-circle {
  width: 80px;
  height: 80px;
  background-color: #ecf3ff; 
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.card h3 {
  color: #1a4f9c;
  font-size: 1.4rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.card p {
  color: #666;
  line-height: 1.6;
  font-size: 0.95rem;
}